{% from 'form-helper.html' import displayField %}

{% extends "pre-login.html" %}

{% block title %} Login {% endblock %}

{% block welcome %}

<section class="jumbotron text-center" style="background:transparent;padding-bottom: 0px;border-bottom-width: 20px;margin-bottom: 30px;height: 164px;">
    <div class="container" style= "height:200px; padding-top: 40px;">
      <h1 class="jumbotron-heading" style="font-size:60px;">Login now!</h1>
      <p class="lead text"><strong>Enter username and password to start talkyy!</strong></p>
    </div>
  </section>


{% endblock %}

{% block content %}

<div class="container" style="margin-left: 14rem; padding-top: 60px;">
    <div class="card" style="width: 40rem; height: 20rem;">
        <div class="card-body">
            <form action="{{ url_for('login') }}" method="POST" style="padding-top: 20px;">
                <div class="form-group">{{form.username.label(class="form-label")}}{{ displayField(form.username, 'Username', autocomplete='off', autofocus=true) }}
                </div>
                <div class="form-group">{{form.password.label(class="form-label")}}{{ displayField(form.password, 'Password') }}</div>
                <div>
                    {{ form.submit_button(class="btn btn-primary") }}
                </div>
                {{ form.csrf_token }}
            </form>
            <p>Have not registered? <a href="{{ url_for('index') }}">Register here</a>.</p>
        </div>        
    </div>
</div>
{% endblock %}
